html {
    scroll-behavior: smooth;
}

html, body, button {
    font-family: 'RobotoLightNew', 'Ubuntu', helvetica, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    user-select: none;
}

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

[v-cloak] {
    display: none;
}

header {
    background-color: white;
    padding: 5px 20px 5px 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
}

.logo span {
    display: flex;
    align-items: center;
}

.logo .right-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: medium;
}

.logo .right-bar i {
    font-size: medium;
}

#content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas: 'side quiz-header quiz-header quiz-header quiz-header quiz-header'
                         'side ... quiz quiz quiz info'
                         'side ... quiz quiz quiz info';
    gap: 15px;
}

.quiz {
    grid-area: quiz;
    padding-left: 50px;
}

.quiz-header {
    margin-top: 10px;
    padding-left: 50px;
    grid-area: quiz-header;
}

.quiz-info {
    grid-area: info;
}

.side {
    position: absolute;
    z-index: -1;
    background-color:#e9e9e9;
    width: 12%;
    height: 90vh;
    left: 0;
    grid-area: side;

    padding: 5px;
}

.card-body .question-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-list {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.status-list i {
    color: black;
}

.form-check .choice {
    background-color: #e9e9e9;
    border: 10px solid #e9e9e9;
    margin-bottom: 5px;

    position: relative;
    right: 10px;
}

.bottom-buttons {
    display: flex;
    justify-content: end;
}

.round-btn {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-style: none;
    background-color: #01579B;
    color: white;
    height: 35px;
    width: 70px;
    font-size: medium;
}

#features {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#features div {
    width: 20%;
    text-align: center;
}

i {
    font-size: x-large;
    color: white;
}

footer {
    padding: 10px 15px 10px 15px;
    background-color: #06192d;
    width: 100%;
    text-align: right;
}

footer a + a {
    padding: 5px;
}

/* Make images unselectable */
img {
    pointer-events: none;
    user-select: none;
}

@media only screen and (max-width: 860px) {
    .side {
        display: none;
        width: 40%;
        z-index: 2;
    }

    #hamburger {
        display: inline !important;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #features {
        flex-direction: column;
    }

    #features div {
        width: 90%;
    }

    .container {
        grid-template-areas: 'side quiz-header quiz-header quiz-header quiz-header quiz-header'
                             'side ... quiz quiz quiz ...'
                             'side ... info info info ...';
    }
}

@media only screen and (max-width: 520px) {
    .logo span .name {
        display: none;
    }
}